.color-nav{
    background-color: red;
  }
  .color-back{
    background-color: rgb(233, 233, 233)
  }
.icon-control{
  position: relative;
  bottom: 13px;
}
.card-position{
  position: relative;
  bottom: 6px;
}
.border-control{
  border-radius: 25px;

}
.circle {
  border-radius: 5%;
}
.text-control{
  font-size: 25px;
  text-align: center;
  position: relative;
  top: 8px;
  text-decoration-thickness: auto;
}
.text-control-subtitle{
  font-size: 12px;
  text-align: center;
  position: relative;
  top: 8px;
  color: gray;


}
.card-numbers{
  font-size: 25px;
  color: rgb(69,99,174);
  text-align: left;
  position: absolute;
  top: 11px;
  text-decoration-thickness: auto;
}
.card-subtitle{
  font-size: 15px;
  color: gray;
  text-align: left;
  position: absolute;
  top: 11px;
  left: 0px;
  text-decoration-thickness: auto;
}
.navbar-adjust{
  border-radius: 0px 0px 30px 0px;
  background-color:red;
  height: 58px;
}
.navbar-title{
  background-color: white;
  border-radius: 0px 0px 20px 0px;
  position: absolute;
  left : 0px;
  top : 0px;
  height: 58px;
  width: 160px;
}
.navbar-text{
  position: absolute;
  left : 185px;
  top : 3px;
  font-size: 25px;
  color: rgb(255, 255, 255);
}
